<section class="comment-area">
  <div class="comment-wrapper">
	<script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src="https://giscus.app/client.js"
          s.data-repo="Gerigory/Gerigory.github.io"
          s.data-repo-id="R_kgDOMsP0jA"
          s.data-category="General"
          s.data-category-id="DIC_kwDOMsP0jM4CiNzL"
          s.data-mapping="pathname"
          s.data-strict="0"
          s.data-reactions-enabled="1"
          s.data-emit-metadata="0"
          s.data-input-position="top"
          s.data-theme="light"
          s.data-lang="zh-CN"
          s.crossorigin="anonymous"
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
  </div>
</section> <!-- End Comment Area -->
