<section class="comment-area">
  <div class="comment-wrapper">
    <div id="utterances_thread" class="article-comments"></div>
	<script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://utteranc.es/client.js';
		  s.repo="gerigory.github.io"
		  s.issue-term="pathname"
		  s.label="<your-custom-label>"
		  s.theme="github-light"
		  s.crossorigin="anonymous"
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
  </div>
</section> <!-- End Comment Area -->
